:root {
	--tweet: rgb(39, 118, 136);
	--tweet-accent: rgb(137, 220, 239);
	--reply: rgb(86, 117, 7);
	--reply-accent: rgb(186, 235, 64);
	--accent: rgb(252, 185, 101);
	--link: rgb(128, 46, 195);
	--link-accent: rgb(76, 0, 138);
	--text: rgb(0, 40, 50);
	--bg: rgb(167, 186, 194);
	--light-bg: rgba(241, 241, 241, 1);
}
body {
	padding: 0;
	margin: 0;
	color: var(--text);
	background-color: var(--light-bg);

	font-family: "Roboto", "Gill Sans", sans-serif;
	font-size: 1.2rem;
	
	min-height: 100vh; 
	display: grid;
	grid-template-rows: auto 1fr auto;
}

a {
	color: var(--link);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header {
	display: flex;
	align-items: baseline;
	font-family: "Archivo";
	background-color: var(--bg);
	margin-bottom: 0;
	gap: 0;
	font-size: 2rem;
}

header h1 a {
	color: var(--text);
}
header h2 a {
	color: var(--text);
	opacity: .8;
}
header a {
	text-decoration: none;
}
header a:hover {
	text-decoration: none;
	opacity: 1;
}

header h1, header h2 {
	font-size: 1.8rem;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-right: 2px dotted var(--text);
}

header h1:last-child, header h2:last-child {
	border-right: none;
}

#info {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: var(--bg);
	margin-top: 0px;
	margin-bottom: 20px;
	border-top: 5px dashed var(--light-bg);
	padding-left: 10px;
}


main {
	max-width: 700px;
	margin: auto;
	padding-bottom: 100px;
}

#filter_button {
	background-color: var(--bg);
	color: var(--text);
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 1.2rem;
	font-family: "Archivo";
}

#filter {
	display: none;
	overflow: hidden;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 10px;
	background-color: var(--accent);
}

#filter h2 {
	width: 100%;
	margin-top: 0;
	margin-bottom: 10px;
}

#filter form {
	flex: 1;
}

#bars {
	height: 200px;
	display: flex;
	margin-bottom: 10px;
	align-items: flex-end;
}

#bars-info {
	display: flex;
	justify-content: space-between;
	font-family: "Archivo";
	font-weight: 200;
	font-style: italic;
	font-size: .8rem;
}

.bar {
	background-color: var(--tweet);
	margin-right: 1px;
}

#tooltip {
	margin-bottom: 10px;
}

.active {
	background-color: var(--tweet-accent);
}

#tweets {}

.tweet,
.reply {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
	line-height: 1.3;
}

.tweet p,
.reply p {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.tweet {
	border: 2px solid var(--tweet);
}

.reply {
	border: 2px solid var(--reply);
}

/* Tweet text */
.tweet p:first-child,
.reply p:first-child {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(241, 241, 241, 1);
}

.reply p:first-child {
	text-align: right;
}

/* Tweet meta */
.tweet p:not(:first-child),
.reply p:not(:first-child) {
	flex: 1;
	width: 30%;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: "Archivo";
	font-weight: 200;
	font-size: .8rem;
}

.tweet p:not(:first-child), .tweet p:not(:first-child) a {
	background-color: var(--tweet-accent);
	color: var(--tweet);
}

.reply p:not(:first-child), .reply p:not(:first-child) a {
	background-color: var(--reply-accent);
	color: var(--reply);
}

.meta {
	display: flex;
	justify-content: center;
	column-gap: 12px;
	text-align: center;
}

.favorite_count,
.retweet_count {
	display: flex;
}

.fav_icon,
.rt_icon {
	width: 16px;
	height: 16px;
	margin-left: 4px;
}

.tweet .fav_icon,
.tweet .rt_icon {
	background-color: var(--tweet);
}

.reply .fav_icon,
.reply .rt_icon {
	background-color: var(--reply);
}

.fav_icon {
	mask-image: url(../img/fav.svg);
	transform: translateY(-1px);
}

.rt_icon {
	mask-image: url(../img/rt.svg);
	transform: translateY(-1px);
}

.datetime {
	text-align: right;
}

.tweet img,
.tweet video,
.reply img,
.reply video {
	width: 100%;
	margin-top: 10px;
}

.reply img,
.reply video {
	border: 2px dotted var(--reply-accent);
}

.tweet img,
.tweet video {
	border: 2px dotted var(--tweet-accent);
}

nav {
	display: flex;
	justify-content: center;
	padding: 20px;
	background-color: var(--bg);
}

nav p {
	margin: 0;
	padding-left: 50px; 
	padding-right: 50px; 
}

#next_page,
#prev_page {
	display: block;
}

#next_page div {
	height: 20px;
	width: 20px;
	mask-image: url(../img/arrow-right.svg);
	background: var(--text);
}

#prev_page div {
	height: 20px;
	width: 20px;
	mask-image: url(../img/arrow-left.svg);
	background: var(--text);
}

#tod {
	height: 200px;
	display: flex;
	margin-bottom: 20px;
	align-items: flex-end;
	flex-direction: row;
}

.tod_bar {
	vertical-align: bottom;
	text-align: center;
	margin-right: 1px;

	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.tod_bar span {
	font-family: monospace;
	transform: translateY(20px);
}

#tables {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	margin-bottom: 20px;
}

.insight_table {
	border-collapse: collapse;
}

.insight_table thead tr {
	background-color: black;
	color: #ffffff;
	text-align: left;
}

.insight_table th,
.insight_table td {
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

#top_tweets {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: var(--bg);
}

#top_rt, #top_fav {
	width: 50%;
	padding: 5px;
	flex: 1;
}

#top_rt_tweets,
#top_fav_tweets {
	height: 500px;
	overflow: scroll;
}

#larger {
	position: fixed; /* Floating above */
	transition: transform 0.23s; /* Sticking effect */
	transition: opacity .1s ease-in;
	pointer-events: none; /* Allow clicking trough the div */
	display: none;
	
	border: 4px double var(--accent);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#larger img {
	width: 500px;
	height: auto;
}

footer {
	font-size: 0.8rem;
	color: gainsboro;
}