:root {
  --tweet: rgb(39, 118, 136);
  --tweet-accent: rgb(137, 220, 239);
  --reply: rgb(86, 117, 7);
  --reply-accent: rgb(186, 235, 64);
  --accent: rgb(252, 185, 101);
  --link: rgb(128, 46, 195);
  --link-accent: rgb(76, 0, 138);
  --text: rgb(0, 40, 50);
  --bg: rgb(167, 186, 194);
  --light-bg: rgba(241, 241, 241, 1);
}

body {
  padding: 0;
  margin: 0;
  color: var(--text);
  background-color: var(--light-bg);

  font-family: "Roboto", "Gill Sans", sans-serif;
  font-size: 1.2rem;

  min-height: 100vh;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: 1px dashed var(--text);
}

h1,
h2,
h3 {
  font-family: "Archivo";
}

#about {
  font-size: 0.9rem;
  position: absolute;
  top: 0;
  background: var(--tweet);
  box-shadow: 0 0 0 999px var(--tweet);
  clip-path: inset(0 -100%);
  inset: 0 0 auto auto;
  transform-origin: 0 0;
  transform: translate(29.3%) rotate(45deg);
  cursor: pointer;
  color: var(--text);
}

#about a {
  color: var(--text);
}

header {
  display: flex;
  align-items: baseline;
  font-family: "Archivo";
  background-color: var(--bg);
  margin-bottom: 0;
  gap: 0;
  font-size: 2rem;
}

header h1 a {
  color: var(--text);
}

header h2 a {
  color: var(--text);
  opacity: 0.8;
  font-style: italic;
  font-weight: lighter;
}

header a {
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
  opacity: 1;
}

header h1,
header h2 {
  font-size: 1.8rem;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-right: 2px dotted var(--text);
}

header h1:last-child,
header h2:last-child {
  border-right: none;
}

#info {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--bg);
  margin-top: 0px;
}

#filter_button {
  float: right;
  cursor: pointer;
  font-weight: bold;
}

#filter {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  background-color: var(--accent);
}

#filter form {
  flex: 1;
}

input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2em solid var(--text);
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.4em;
  color: var(--reply-accent);
  height: 60%;
}

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0.2em solid var(--text);
  background: rgba(0, 0, 0, 0);
  padding: 0.85em 1.5em;
  color: var(--text);
  border-radius: 2em;
  transition: 1s;
  display: inline;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
  background: var(--text);
  color: #fff;
}

input[type="date"] {
  border: 0.2em solid var(--tweet);
  padding: 0.8em 0.9em;
  border-radius: 2em;
  color: var(--tweet);
}

input[type="date"]::-webkit-datetime-edit-text {
  color: var(--tweet);
  padding: 0 0.3em;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23E91E63' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'/%3E%3Cline x1='16' y1='2' x2='16' y2='6'/%3E%3Cline x1='8' y1='2' x2='8' y2='6'/%3E%3Cline x1='3' y1='10' x2='21' y2='10'/%3E%3C/svg%3E");
}

main {
  max-width: 700px;
  margin: auto;
  padding-bottom: 100px;
  padding-top: 20px;
}

.collapser {
  background-color: var(--bg);
  color: var(--text);
  padding: 10px;
  margin-bottom: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.2rem;
  font-family: "Archivo";
}

.collapsible {
  display: none;
  overflow: hidden;
}

#settings {
  background-color: var(--light-bg);
  border: 1px solid var(--bg);
  padding: 5px 10px;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}

#settings form {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 8px;
}

#bars {
  height: 200px;
  display: flex;
  margin-bottom: 10px;
  align-items: flex-end;
}

.extra-margin {
  margin-bottom: 20px;
  margin-top: 20px;
}

#bars-info {
  display: flex;
  justify-content: space-between;
  font-family: "Archivo";
  font-weight: 200;
  font-style: italic;
  font-size: 0.8rem;
}

.bar {
  background-color: var(--tweet);
  margin-right: 1px;
}

#tooltip {
  margin-bottom: 10px;
}

.active {
  background-color: var(--tweet-accent);
}

#tweets {
  margin-top: 20px;
}

.hr-thread {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: var(--text);
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}

.hr-thread:before {
  content: "";
  background: linear-gradient(to right, transparent, var(--bg), transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-thread:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: var(--text);
  padding: 0 0.5em;
  line-height: 1.5em;
  background-color: var(--light-bg);
}

.tweet,
.reply {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  line-height: 1.3;
}

.tweet p,
.reply p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.tweet {
  border: 2px solid var(--tweet);
}

.reply {
  border: 2px solid var(--reply);
}

/* Tweet text */
.tweet p:first-child,
.reply p:first-child {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(241, 241, 241, 1);
}

.reply p:first-child {
  text-align: right;
}

/* Tweet meta */
.tweet p:not(:first-child),
.reply p:not(:first-child) {
  flex: 1;
  width: 30%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Archivo";
  font-weight: 200;
  font-size: 0.8rem;
}

.tweet p:not(:first-child),
.tweet p:not(:first-child) a {
  background-color: var(--tweet-accent);
  color: var(--tweet);
}

.reply p:not(:first-child),
.reply p:not(:first-child) a {
  background-color: var(--reply-accent);
  color: var(--reply);
}

.meta {
  display: flex;
  justify-content: center;
  column-gap: 12px;
  text-align: center;
}

.favorite_count,
.retweet_count {
  display: flex;
}

.fav_icon,
.rt_icon {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.tweet .fav_icon,
.tweet .rt_icon {
  background-color: var(--tweet);
}

.reply .fav_icon,
.reply .rt_icon {
  background-color: var(--reply);
}

.fav_icon {
  mask-image: url(../img/fav.svg);
  transform: translateY(-1px);
}

.rt_icon {
  mask-image: url(../img/rt.svg);
  transform: translateY(-1px);
}

.datetime {
  text-align: right;
}

.tweet img,
.tweet video,
.reply img,
.reply video {
  width: 100%;
  margin-top: 10px;
}

.reply img,
.reply video {
  border: 2px dotted var(--reply-accent);
}

.tweet img,
.tweet video {
  border: 2px dotted var(--tweet-accent);
}

nav {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: var(--bg);
}

nav p {
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
}

#next_page,
#prev_page {
  display: block;
}

#next_page div {
  height: 20px;
  width: 20px;
  mask-image: url(../img/arrow-right.svg);
  background: var(--text);
}

#prev_page div {
  height: 20px;
  width: 20px;
  mask-image: url(../img/arrow-left.svg);
  background: var(--text);
}

#tod {
  height: 200px;
  display: flex;
  margin-bottom: 40px;
  align-items: flex-end;
  flex-direction: row;
}

.tod_bar {
  vertical-align: bottom;
  text-align: center;
  margin-right: 1px;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.tod_bar span {
  font-family: monospace;
  transform: translateY(20px);
}

#tables {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.insight_table {
  border-collapse: collapse;
  margin-right: 5px;
  background-color: var(--tweet-accent);
}

.insight_table thead tr {
  background-color: var(--tweet);
  color: var(--text);
  text-align: left;
  font-family: "Archivo";
}

.insight_table th {
  padding: 5px;
  text-align: center;
  border-bottom: 2px solid black;
}

.insight_table td {
  border-bottom: 1px solid black;
  padding: 5px;
}

.insight_table tr td:nth-child(3),
.insight_table tr td:nth-child(1) {
  text-align: right;
}

.insight_table tr td:nth-child(2) {
  font-weight: bold;
}

.insight_table tr td:nth-child(1) {
  font-style: italic;
  font-weight: 200;
  font-size: 1rem;
}

.insight_table a {
  color: var(--text);
}

#top_tweets {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#insight_info {
  width: 100%;
  text-align: center;
  font-style: italic;
  background-color: var(--tweet);
  color: var(--tweet-accent);
}

#top_rt,
#top_fav {
  width: 50%;
  padding: 5px;
  flex: 1;
}

#top_rt {
  background-color: var(--reply-accent);
}

#top_fav {
  background-color: var(--accent);
}

#top_rt h2,
#top_fav h2 {
  margin-top: 15px;
  font-size: 1.5rem;
  text-align: center;
  color: var(--text);
}

#top_rt_tweets,
#top_fav_tweets {
  height: 750px;
  overflow: scroll;
}

#larger {
  position: fixed;
  /* Floating above */
  transition: transform 0.23s;
  /* Sticking effect */
  transition: opacity 0.1s ease-in;
  pointer-events: none;
  /* Allow clicking trough the div */
  display: none;

  border: 4px double var(--accent);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#larger img {
  width: 500px;
  height: auto;
}

footer {
  font-size: 0.8rem;
  color: gainsboro;
}