/* https://codepen.io/bork/pen/WNrmWr */

[data-name="00"] {
	background: #012459;
	background: linear-gradient(to bottom, #012459 0%, #001322 100%);
}

[data-name="01"] {
	background: #003972;
	background: linear-gradient(to bottom, #003972 0%, #001322 100%);
}

[data-name="02"] {
	background: #003972;
	background: linear-gradient(to bottom, #003972 0%, #001322 100%);
}

[data-name="03"] {
	background: #004372;
	background: linear-gradient(to bottom, #004372 0%, #00182b 100%);

}

[data-name="04"] {
	background: #004372;
	background: linear-gradient(to bottom, #004372 0%, #011d34 100%);
}

[data-name="05"] {
	background: #016792;
	background: linear-gradient(to bottom, #016792 0%, #00182b 100%);

}

[data-name="06"] {
	background: #07729f;
	background: linear-gradient(to bottom, #07729f 0%, #042c47 100%);

}

[data-name="07"] {
	background: #12a1c0;
	background: linear-gradient(to bottom, #12a1c0 0%, #07506e 100%);
}

[data-name="08"] {
	background: #74d4cc;
	background: linear-gradient(to bottom, #74d4cc 0%, #1386a6 100%);
}

[data-name="09"] {
	background: #efeebc;
	background: linear-gradient(to bottom, #efeebc 0%, #61d0cf 100%);
}

[data-name="10"] {
	background: #fee154;
	background: linear-gradient(to bottom, #fee154 0%, #a3dec6 100%);

}

[data-name="11"] {
	background: #fdc352;
	background: linear-gradient(to bottom, #fdc352 0%, #e8ed92 100%);

}

[data-name="12"] {
	background: #ffac6f;
	background: linear-gradient(to bottom, #ffac6f 0%, #ffe467 100%);

}

[data-name="13"] {
	background: #fda65a;
	background: linear-gradient(to bottom, #fda65a 0%, #ffe467 100%);

}

[data-name="14"] {
	background: #fd9e58;
	background: linear-gradient(to bottom, #fd9e58 0%, #ffe467 100%);
}

[data-name="15"] {
	background: #f18448;
	background: linear-gradient(to bottom, #f18448 0%, #ffd364 100%);

}

[data-name="16"] {
	background: #f06b7e;
	background: linear-gradient(to bottom, #f06b7e 0%, #f9a856 100%);

}

[data-name="17"] {
	background: #ca5a92;
	background: linear-gradient(to bottom, #ca5a92 0%, #f4896b 100%);

}

[data-name="18"] {
	background: #5b2c83;
	background: linear-gradient(to bottom, #5b2c83 0%, #d1628b 100%);

}

[data-name="19"] {
	background: #371a79;
	background: linear-gradient(to bottom, #371a79 0%, #713684 100%);

}

[data-name="20"] {
	background: #28166b;
	background: linear-gradient(to bottom, #28166b 0%, #45217c 100%);

}

[data-name="21"] {
	background: #192861;
	background: linear-gradient(to bottom, #192861 0%, #372074 100%);

}

[data-name="22"] {
	background: #040b3c;
	background: linear-gradient(to bottom, #040b3c 0%, #233072 100%);

}

[data-name="23"] {
	background: #040b3c;
	background: linear-gradient(to bottom, #040b3c 0%, #012459 100%);
}